@import '../../styles/index.scss';


.pagination {
  margin-bottom: 100px;
  border: 1px solid #EBEBEB;
  display: flex;
  justify-content: space-around;
  
  &__button {
    width: 45px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    background: transparent;
    transition: background .3s ease;
    cursor: pointer;


    &:hover {
      background: #222224;
      color: #fff;
    }
  }

  @include down (md) {
      width: col(12);
  }

  @include down (sm) {
    width: col(18);
}
}



