@import '../../styles/index.scss';

.product-list {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;


    &__list {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        max-width: $width;
        margin-bottom: 40px;

        @include down (md, 1) {
            width: col(18);
        }
    }
}



