@import '../../styles/index.scss';

.info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: col(18);
    margin: 0 auto;

    &List {
        background: #222224;
    }

    @include down (md) {
        width: col(18);
        flex-direction: column-reverse;
        
    }
}



