@import '../../styles/index.scss';


.advantages {
    background: #222224;
}

.advantageList {
    display: flex;
    justify-content: space-between;
    width: col(18);
    margin: 0 auto;
}

@media (max-width: 769px) {
    .advantageList {
        flex-direction: column;
        width: col(18);
    }
}