@import '../../styles/index.scss';

.basket {
    position: relative;
    left: 0;
    font-size: 12px;

    &__product {
        margin-left: 5px;
        font-family: Roboto;
        font-weight: 700;
    }

    &__name {
        font-weight: 400;
    }

    &__cost {
        font-weight: 400;
    }

    &__button {

        svg{
            width: 24px;
            height: 24px;
            fill: white;
        }
    }

    &__modal {
        position: absolute;
        width: col(10);
        right: 0;
        top: 42.76px;
        background: white;
        border: 1px solid;
        padding: 8px 8px;

        tr {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            text-align: center;
        }   

        thead,
        tbody {
            display: inline-block;
            width: 100%;
            
        }

        thead {
            padding-bottom: 8px;
            border-bottom: 1px solid #000;
        }

        td {
            width: 25%;
            padding-bottom: 8px;
            padding-top: 8px;
            text-align: center;

        }

        
    }

    
}