@import '../../styles/index.scss';


.Header{
    background: #222224;
    height: vh(80);
    position: fixed;
    width: 100%;
    z-index: 100;

    &__list {
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: col(18);
        height: 100%;
        margin: 0 auto;

        
    }
}

