@import '../../styles/index.scss';

.productInfo {

    display: flex;
    align-items: center;


    * {
        margin-left: 40px;
        margin-right: 40px;
    }

    &_margin {
        margin-top: vh(80);
    }
    
    &__title {
        margin-bottom: 10px;
        font-family: Roboto;
        font-weight: 700;
        font-size: 65px;
        line-height: 71px;
        color: #FFFFFF;
    }

    &__price {
        margin-bottom: 60px;
        font-family: Roboto;
        font-weight: 500;
        font-size: 35px;
        line-height: 38px;
        color: #FFFFFF;
    }

    &__subtitle {
        margin-bottom: 15px;
        font-family: Roboto;
        font-weight: 700;
        font-size: 22px;
        line-height: 24px;
        color: #FFFFFF;
    }

    &__text {
        margin-bottom: 50px;
        font-family: Roboto;
        font-size: 18px;
        line-height: 35px;
        color: #FFFFFF;
    }

    &__img {
        margin-bottom: 60px;
        margin-left: 0;
    }

    

}

@media (max-width: 1025px) {
    .productInfo {
        width: 100%;

        &__title {
            font-size: 8vw;
        }
    }
}

@media (max-width: 769px) {
    .productInfo {
        * {
            margin-right: 0;
            padding-right: 10px;
        }
    }
}