@import '../../styles/index.scss';

.Header{
    background: #222224;

    &List {
        display: flex;
        justify-content: space-between;
        max-width: $width;
        margin: 0 auto;
}
}

@media (max-width:769px) {
    .HeaderList {
        max-width: $widthTablet;
    }
    
}